In [1]:
import acquire as a

In [2]:
a.API_doc('https://python.zgulde.net')

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [3]:
# a.get_stores(url1 = 'https://python.zgulde.net/api/v1/items', \
#              url2 = 'https://python.zgulde.net/api/v1/stores', \
#              url3 = 'https://python.zgulde.net/api/v1/sales', base_url = 'https://python.zgulde.net')

In [4]:
df = a.get_stores()

Data is cached. Reading from csv files.
✅ Items data acquired
✅ Items data acquired
✅ Sales data acquired
*********************
✅Acquisition Complete

In [5]:
df.shape

(913000, 16)

In [6]:
df.columns

Index(['item_brand', 'item_id', 'item_name', 'item_price', 'item_upc12',
       'item_upc14', 'item', 'sale_amount', 'sale_date', 'sale_id', 'store',
       'store_address', 'store_city', 'store_id', 'store_state',
       'store_zipcode'],
      dtype='object')

In [7]:
df.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [8]:
# df.drop(columns = ['index', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'])

In [9]:
a.get_power()

Power data is not cached. Acquiring new data . . .
✅ Power data acquired from link
✅ Power data cached to local csv

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

In [10]:
a.get_power()

Power data is cached. Reading to df...
✅ Power data acquired from local csv file

      Unnamed: 0        Date  Consumption     Wind   Solar  Wind+Solar
0              0  2006-01-01   1069.18400      NaN     NaN         NaN
1              1  2006-01-02   1380.52100      NaN     NaN         NaN
2              2  2006-01-03   1442.53300      NaN     NaN         NaN
3              3  2006-01-04   1457.21700      NaN     NaN         NaN
4              4  2006-01-05   1477.13100      NaN     NaN         NaN
...          ...         ...          ...      ...     ...         ...
4378        4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379        4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380        4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381        4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382        4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 6 columns]